<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/apple-touch-icon-114x114.png">

		<link rel="stylesheet" href="/bower_components/metro-bootstrap/dist/css/metro-bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

		<div class="container">

			<div class="row text-center">
				<h3><strong>WFVB Grillkasse</strong></h3>		
			</div> <!-- end row -->
	
			<div class="row text-center">

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnKloepfer" class="btn btn-block btn-primary" onclick="add('kloepfer')">
							<span class="name">Kl&ouml;pfer</span>
							<br>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnBratwurst" class="btn btn-block btn-primary" onclick="add('bratwurst')">
										<span class="name">Bratwurst</span>
										<br>
										<br>CHF <span class="price"></span>
										<br><span class="amount"></span>
						</button>
				</div>
	
				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnMerquez" class="btn btn-block btn-primary" onclick="add('merquez')">
							<span class="name">Merquez</span>
							<br>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnSteak" class="btn btn-block btn-primary" onclick="add('steak')">
							<span class="name">Steak</span>
							<br>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnWurstsalat" class="btn btn-block btn-primary" onclick="add('wurstsalat')">
							<span class="name">Wurstsalat</span>
							<br>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>
				
				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnPommes" class="btn btn-block btn-primary" onclick="add('pommes')">
							<span class="name">Pommes</span>
							<br>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnWaldfest" class="btn btn-block btn-primary" disabled onclick="add('waldfest')">
							<span class="name">Waldfest</span>
							<br>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnSteapommes" class="btn btn-block btn-primary" onclick="add('steapommes')">
										<span class="name">Steak
										<br>Pommes</span>
										<br>CHF <span class="price"></span>
										<br><span class="amount"></span>
						</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button id="btnWsalpommes" class="btn btn-block btn-primary" onclick="add('wsalpommes')">
							<span class="name">Wurstsalat
							<br>Pommes</span>
							<br>CHF <span class="price"></span>
							<br><span class="amount"></span>
						</button>
				</div>

			</div> <!-- end row -->

		
			<div class="row text-center">
			</div>

			<hr>

			<div class="row text-center">

				<div class="col-xs-4">
								<h4><strong>Total CHF <br><span id="totalCHF"></span></strong></h4>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button class="btn btn-lg btn-block btn-success" onclick="print()">Drucken</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button class="btn btn-lg btn-block btn-danger" onclick="cancel()">L&ouml;schen</button>
				</div>

			</div> <!-- end row -->

		</div> <!-- end container -->
  
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script>
			
			// ==============================
			// Define variables/objects
			// ==============================
			var totalCHF = 0.00;
			var cart = {
				// EINZELN
				bratwurst:	{
					amount:		0,
					price:		6.5
				},	
				kloepfer:		{
					amount:		0,
					price:		5.0
				},
				merquez:		{
					amount:		0,
					price:		6.50
				},
				steak:			{
					amount:		0,
					price:		8.00
				},
				waldfest:			{
					amount:		0,
					price:		2.50
				},
				wurstsalat:	{
					amount:		0,
					price:		6.00
				},
				spaghetti:	{
					amount:		0,
					price:		7.50
				},
				pommes:			{
					amount:		0,
					price:		4.50
				},
				// MENU
				bratpommes:	{
					amount:		0,
					price:		12.00
				},
				kloepommes:	{
					amount:		0,
					price:		9.00
				},
				steapommes:	{
					amount:		0,
					price:		10.00
				},
				wsalpommes:	{
					amount:		0,
					price:		8.50
				}
			};

			
			// ==============================
			// Initial Run On Load
			// ==============================
			$(document).ready( function() {
				initialFunction();
			});	

			// ==============================
			// InitialFunction
			// ==============================
			function initialFunction() {
				for (var key in cart) {
					cart[key].amount = 0;
					updateLabel('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + ' .amount', 0);
					updateLabel('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + ' .price', parseFloat(cart[key].price).toFixed(2));
					updateBtnColor('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length), 'remove', 'btn-warning');
				}
				totalCHF = 0.00;
				updateTotalCHF()
			}

			// ==============================
			// Add
			// ==============================
			function add(item) {
				cart[item].amount++;
				totalCHF += cart[item].price;
				updateLabel('#btn' +  item.charAt(0).toUpperCase() + item.substr(1, item.length) + ' .amount', cart[item].amount);
				updateTotalCHF();
				updateBtnColor('#btn' +  item.charAt(0).toUpperCase() + item.substr(1, item.length), 'add', 'btn-warning');
			};

			// ==============================
			// updateLabel
			// ==============================
			function updateLabel(lblName, value) {
				$(lblName).text(value);
			}

			// ==============================
			// updateBtnColor
			// ==============================
			function updateBtnColor(lblName, action, className) {
				switch(action) {
					case 'add':
						$(lblName).addClass('btn-warning');
						break;
					case 'remove':
						$(lblName).removeClass('btn-warning');
						break;
				}
			}

			// ==============================
			// updateTotalCHF 
			// ==============================
			function updateTotalCHF() {
				$('#totalCHF').text(parseFloat(totalCHF).toFixed(2));
			}

			// ==============================
			// Cancel
			// ==============================
			function cancel() {
				initialFunction();
			};

			// ==============================
			// Print
			// ==============================
			function print() {
				for (var key in cart) {
					$.post('/print/' + key + '/' + cart[key].amount);
				}
				cancel();
			};
		</script>

	</body>
</html>
