<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/apple-touch-icon-114x114.png">

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

		<div id="wrapper" class="container-fluid">
			<div id="title" class="row text-center">
				<h2><strong>WFVB GRILLKASSE</strong></h2>
			</div> <!-- end row -->
		</div>

		<div id="wrapper" class="container">

			<div id="cartSection" class="row text-center">
			</div> <!-- end #cartSection.row -->

			<hr>

			<div class="row text-center">
				<!-- TotalCHF -->
				<div class="col-xs-6">
					<button class="btn btn-lg btn-block btn-white"><strong>CHF <span id="totalCHF"></span></strong></button>
				</div>
				<!-- PrintButton -->
				<div class="col-xs-3 col-sm-3 col-md-3">
						<button class="btn btn-lg btn-block btn-success" onclick="print()"><span class="glyphicon glyphicon-print"></span></button>
				</div>
				<!-- CancelButton -->
				<div class="col-xs-3 col-sm-3 col-md-3">
						<button class="btn btn-lg btn-block btn-danger" onclick="cancel()"><span class="glyphicon glyphicon-remove"</span></button>
				</div>
			</div> <!-- end row -->

		</div> <!-- end container -->
  
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script>
			// ==============================
			// Define variables/objects
			// ==============================
			var totalCHF = 0.00;
			var articles = {
				"bratwurst":  {
    			"name":       "Bratwurst",
    			"amount":     0,
    			"price":      5.50,
    			"available":  true
  			},
  			"kloepfer": {
    			"name":       "Kl&ouml;pfer",
    			"amount":     0,
    			"price":      4.50,
    			"available":  true
  			},
  			"merquez":  {
    			"name":       "Merquez",
    			"amount":     0,
    			"price":      3.50,
    			"available":  true
  			},
  			"steak":  {
    			"name":       "Steak",
    			"amount":     0,
    			"price":      9.50,
    			"available":  true
  			},
  			"waldfest": {
    			"name":       "Waldfest",
    			"amount":     0,
    			"price":      4.00,
    			"available":  true
  			},
  			"wurstsalat": {
    			"name":       "Wurstsalat",
    			"amount":     0,
    			"price":      8.00,
    			"available":  true
  			},
  			"spaghetti":  {
    			"name":       "Spaghetti",
    			"amount":     0,
    			"price":      10.00,
    			"available":  true
  			},
  			"pommes":     {
    			"name":       "Pommes<br>Frites",
    			"amount":     0,
    			"price":      4.50,
    			"available":  true
  			},
  			"steakpommes":  {
    			"name":       "Steak<br>Pommes",
    			"amount":     0,
    			"price":      13.00,
    			"available":  true
  			},
  			"wurstsalatpommes": {
    			"name":       "Wurstsalat<br>Pommes",
    			"amount":     0,
    			"price":      12.00,
    			"available":	true 
  			}
			};

			// ==============================
			// Initial Run On Load
			// ==============================
			$(document).ready( function() {
				generateHTMLBlocks();
				initialFunction();
			});	

			// ==============================
			// Generate HTML-Blocks
			// ==============================
			function generateHTMLBlocks() {
				for (var key in articles) {
					var result = '';
					result += '<div class="col-xs-4 col-sm-4 col-md-4"> ';
					result +=		'<button id="btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + '" class="btn btn-block btn-primary" onclick="add(\'' + key + '\')">';
					result +=			'<span class="name"><strong>' + articles[key].name + '</strong></span>';
					if (articles[key].name.indexOf('<br>') == -1) {
					result +=			'<br>';
					}
					result +=			'<br>CHF <span class="price">' + parseFloat(articles[key].price).toFixed(2) + '</span>';
					result +=			'<br><span class="amount">' + articles[key].amount + '</span>';
					result +=		'</button>';
					result +=	'</div>';
					$('#cartSection').append(result);
				}
			};

			// ==============================
			// InitialFunction
			// ==============================
			function initialFunction() {
				for (var key in articles) {
					articles[key].amount = 0;
					updateLabel('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + ' .amount', 0);
					updateLabel('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + ' .price', parseFloat(articles[key].price).toFixed(2));
					updateBtnColor('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length), 'remove', 'btn-warning');
					
					if (articles[key].available == false) {
						$('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length)).attr('disabled', true);
					}
					
				}
				totalCHF = 0.00;
				updateTotalCHF()
			};

			// ==============================
			// Add
			// ==============================
			function add(item) {
				articles[item].amount++;
				totalCHF += articles[item].price;
				updateLabel('#btn' +  item.charAt(0).toUpperCase() + item.substr(1, item.length) + ' .amount', articles[item].amount);
				updateTotalCHF();
				updateBtnColor('#btn' +  item.charAt(0).toUpperCase() + item.substr(1, item.length), 'add', 'btn-warning');
			};

			// ==============================
			// updateLabel
			// ==============================
			function updateLabel(lblName, value) {
				$(lblName).text(value);
			};

			// ==============================
			// updateBtnColor
			// ==============================
			function updateBtnColor(lblName, action, className) {
				switch(action) {
					case 'add':
						$(lblName).addClass('btn-warning');
						break;
					case 'remove':
						$(lblName).removeClass('btn-warning');
						break;
				}
			};

			// ==============================
			// updateTotalCHF 
			// ==============================
			function updateTotalCHF() {
				$('#totalCHF').text(parseFloat(totalCHF).toFixed(2));
			}

			// ==============================
			// Cancel
			// ==============================
			function cancel() {
				initialFunction();
			};

			// ==============================
			// Print
			// ==============================
			function print() {
				for (var key in articles) {
					if (articles[key].amount > 0) {
						$.post('/print/' + key + '/' + articles[key].amount);
					}
				}
				cancel();
			};
		</script>

	</body>
</html>
