<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/apple-touch-icon-114x114.png">

		<link rel="stylesheet" href="/bower_components/metro-bootstrap/dist/css/metro-bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

		<div class="container">

			<div class="row text-center">
				<h2><strong>WFVB Grillkasse</strong></h2>		
			</div> <!-- end row -->
	
			<div id="cart" class="row text-center">

			</div> <!-- end #cart.row -->

			<hr>

			<div class="row text-center">

				<div class="col-xs-4">
								<h4><strong>Total CHF <br><span id="totalCHF"></span></strong></h4>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button class="btn btn-lg btn-block btn-success" onclick="print()">Drucken</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4">
						<button class="btn btn-lg btn-block btn-danger" onclick="cancel()">L&ouml;schen</button>
				</div>

			</div> <!-- end row -->

		</div> <!-- end container -->
  
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script>
			
			// ==============================
			// Define variables/objects
			// ==============================
			var totalCHF = 0.00;
			var cart = {
				// EINZELN
				bratwurst:	{
					name:			"Bratwurst",
					amount:		0,
					price:		6.50
				},	
				kloepfer:		{
					name:			"Kloepfer",
					amount:		0,
					price:		5.0
				},
				merquez:		{
					name:			"Merquez",
					amount:		0,
					price:		6.50
				},
				steak:			{	
					name:			"Steak",
					amount:		0,
					price:		8.00
				},
				waldfest:			{
					name:			"Waldfest",
					amount:		0,
					price:		2.50
				},
				wurstsalat:	{
					name:			"Wurstsalat",
					amount:		0,
					price:		6.00
				},
				spaghetti:	{
					name:			"Spaghetti",
					amount:		0,
					price:		7.50
				},
				pommes:			{
					name:			"Pommes",
					amount:		0,
					price:		4.50
				},
				// MENU
				steakpommes:	{
					name:			"Steak<br>Pommes",
					amount:		0,
					price:		10.00
				},
				wurstsalatpommes:	{
					name:			"Wurstsalat<br>Pommes",
					amount:		0,
					price:		8.50
				}
			};

			// ==============================
			// Initial Run On Load
			// ==============================
			$(document).ready( function() {
				generateHTMLBlocks();
				initialFunction();
			});	

			// ==============================
			// Generate HTML-Blocks
			// ==============================
			function generateHTMLBlocks() {
				for (var key in cart) {
					var result = '';
					result += '<div class="col-xs-4 col-sm-4 col-md-4"> ';
					result +=		'<button id="btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + '" class="btn btn-block btn-primary" onclick="add(\'' + key + '\')">';
					result +=			'<span class="name"><strong>' + cart[key].name + '</strong></span>';
					if (cart[key].name.indexOf('<br>') == -1) {
					result +=			'<br>';
					}
					result +=			'<br>CHF <span class="price">' + parseFloat(cart[key].price).toFixed(2) + '</span>';
					result +=			'<br><span class="amount">' + cart[key].amount + '</span>';
					result +=		'</button>';
					result +=	'</div>';
					$('#cart').append(result);
				}
			}

			// ==============================
			// InitialFunction
			// ==============================
			function initialFunction() {
				for (var key in cart) {
					cart[key].amount = 0;
					updateLabel('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + ' .amount', 0);
					updateLabel('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length) + ' .price', parseFloat(cart[key].price).toFixed(2));
					updateBtnColor('#btn' + key.charAt(0).toUpperCase() + key.substr(1, key.length), 'remove', 'btn-warning');
				}
				totalCHF = 0.00;
				updateTotalCHF()
			}

			// ==============================
			// Add
			// ==============================
			function add(item) {
				cart[item].amount++;
				totalCHF += cart[item].price;
				updateLabel('#btn' +  item.charAt(0).toUpperCase() + item.substr(1, item.length) + ' .amount', cart[item].amount);
				updateTotalCHF();
				updateBtnColor('#btn' +  item.charAt(0).toUpperCase() + item.substr(1, item.length), 'add', 'btn-warning');
			};

			// ==============================
			// updateLabel
			// ==============================
			function updateLabel(lblName, value) {
				$(lblName).text(value);
			}

			// ==============================
			// updateBtnColor
			// ==============================
			function updateBtnColor(lblName, action, className) {
				switch(action) {
					case 'add':
						$(lblName).addClass('btn-warning');
						break;
					case 'remove':
						$(lblName).removeClass('btn-warning');
						break;
				}
			}

			// ==============================
			// updateTotalCHF 
			// ==============================
			function updateTotalCHF() {
				$('#totalCHF').text(parseFloat(totalCHF).toFixed(2));
			}

			// ==============================
			// Cancel
			// ==============================
			function cancel() {
				initialFunction();
			};

			// ==============================
			// Print
			// ==============================
			function print() {
				for (var key in cart) {
					if (cart[key].amount > 0) {
						$.post('/print/' + key + '/' + cart[key].amount);
					}
				}
				cancel();
			};
		</script>

	</body>
</html>
