html {
	height: 100%;
}

body {
	padding-top: 1.5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	background-color: grey;
}


a {
  color: #00B7FF;
}

h2 {
	color: #000;
}

.btn {
	margin: 5px 0;
}

.btn-white {
	background-color: #fff;
}

.btn-primary {
	white-space: normal;
	height: 100px;
}

.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover {
	background-color: #f1c40f;
	border-color: #f1c40f;
}


