/** public/stylesheets/style.css **/

html {
	height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	background-color: grey;
}

#title {
	margin-top: 0;
	margin-bottom: 1em;
	padding: 0.5em;
	background-color: #000;
}

a {
  color: #00B7FF;
}

h2 {
	color: #fff;
}

.btn {
	margin: 5px 0;
	/* Disable all rounded corners */
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

.btn-white {
	background-color: #fff;
}

.btn-primary {
	white-space: normal;
	height: 100px;
}

.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover {
	background-color: #f1c40f;
	border-color: #f1c40f;
}
